html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #e3e3e3;
}

.img {
    width: 100%;
    height: auto;
}


.my-form {
    position: fixed;
    bottom: 0;
    background-color: #313538;
    color: #fff;
    width: 100%;
    transition: bottom .5s ease;
}

.my-form .row {
    padding: 1rem;
}

.is-hidden {
    bottom: -1000px;
}

.toggle-form {
    position: relative;
    background-color: #ececec;
    padding: .5rem;
    top: -25px;
    left: 395px;
    width: 40px;
    height: 20px;
    color: #000;
}

.is-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    top: unset;
    right: unset;
    z-index: 999;
}

.profile-content {
    margin-bottom: 126px;
}

.profile-header {
    padding: 2rem 0;
}

.profile-overview {
    background-color: #ffc00c;
    padding: 1rem;
}

.card-img-top {
    max-height: 250px;
}

.my-table>tbody>tr>td,
.my-table>tbody>tr>th {
    vertical-align: middle;
}
