html, body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #e3e3e3;
}

.img {
    width: 100%;
    height: auto;
}

.my-form {
    position: fixed;
    bottom: 0;
    background-color: #313538;
    color: #fff;
    width: 100%;
    transition: bottom .5s ease;
}

.my-form .row {
    padding: 1rem;
}

.is-hidden {
    bottom: -1000px;
}

.my-form-close {
    position: absolute;
    right: 0;
    top: .5rem;
    color: #fff;
}

.my-add-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc00c;
}

.profile-content {
    margin-bottom: 126px;
}

.profile-header {
    padding: 2rem 0;
}

.profile-overview {
    background-color: #ffc00c;
    padding: 1rem;
}

.card-img-top {
    max-height: 250px;
}

.my-table>tbody>tr>td,
.my-table>tbody>tr>th {
    vertical-align: middle;
}
